*Issue* [${event.projectName}/${event.issue.key}](${event.issue.self}) *was updated*
*Date* : `${event.eventDate.format("HH:mm:ss dd.MM.yyyy")}`
*Summary*: `${event.issue.fields.summary}`
*Updated by*: `${event.user.displayName}`

<#list event.changelog.items as log>
<#if log.isStatusChanged>
*Status*: `${log.fromString}` → `${log.newString}`
</#if>
<#if log.isAssigneeChanged>
*Assignee*: `${log.fromString}` → `${log.newString}`
</#if>
</#list>